*{
    margin: 0;
    padding: 0;
}
html , body{
height: 100%;
background-color: blueviolet;
}
header{
    height: 250px;
    background-color: black;
    color: blueviolet;
   
}
#israel{
    text-align: center;
    padding-top: 30px;
    font-size: xx-large;
}
h1{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-grow: 1;
    width: 100%; */
}
section{
    margin-top: 80px;
    height: 400px;
    width: 400px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative; 

}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out 0.2s;
    height: 190px;
    width: 190px;
    background-color: rgba(255, 136, 0, 0.747);
    margin: 5px;
}
.content:hover{
    transform: scale(1.1);
    cursor: pointer;
}
a{
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 16px;
}
#bt {
    position: absolute; /* הוספת position: absolute; */
    bottom: 0; /* כפתור יופיע למטה */
    width: 120px;
    background-color: rgba(255, 136, 0, 0.747);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#bt:hover {
    background-color: rgb(255, 108, 0); 
}
@media screen and (max-width: 400px) {
    section {
        background-color: transparent; 
}
}